*{
   padding: 0; 
   margin: 0; 
}
#header{

    height: 40vw;
}
#body{
    background-color: aliceblue;
    height: 120vw;
}
#footer{
    background-color: aliceblue;
    height: 40vw;
    margin-top: -30vw;
}

nav ul li{
    display: inline;
    float: right;
    text-decoration: none;
}
ul li a{
    text-decoration: none;
    padding: 1vw;
    margin-right: 6vw;
}
.nav-container{
    display: flex;
    flex-direction: row;
}
#logo{
    float: left;
    width: 15%;
}
#logo img{
    width: 8.2vw;
    height: 4.5vw;
    margin-left: 2.4vw;
    margin-top: 1.5vw;

}
.background-container{
    height: 24vw;
    display: flex;
    flex-direction: row;
}
.background-container img{
    width: 30vw;
    height: 20vw;
    margin-top: 20vw;
    margin-right: 6vw;
}
.Kit-background{
    padding: 3vw;
    margin-top: 25vw;
}
.majoring{
    height: 20vw;

}

.departments{
    height: 11vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 1vw;
    margin-left: 8vw;
    margin-top: 22vw;
}
.product-one{
    display: flex;
    flex-direction: row;
    height: 8vw;
    width: 23%;
}
.departments-one p{
    padding: 1.3vw;
}
.dep-info h3{
    margin-top: 1.5vw;
}
.dep-img{
    width: 26%;
    height: 10vw;
}
.dep-info{
    width: 74%;
    height: 10vw;
}
.dep-img img{
    margin-top: 1.2vw;
    width: 10.6vw;
    height: 8vw;
}

.virtual-company-container{
    height:40vw;
    margin-top: 3vw;
}
.card{
    margin: 3vw;
}
.card img{
    width: 20vw;
    height: 20vw;
}
.address{
    margin-left: 5vw;
}
address:hover{
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 0.4s;

}
.footer-containerr{
    width: 80%;
    margin-left: 13vw;
    height: 30vw;
    background-color: aliceblue;
    margin-top: 26vw;
    display: flex;
    flex-direction: row;
}
.icon{
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    text-align: center;
    margin-left: 38vw;
}
.icon i:hover{
    color: rgb(214, 8, 8);
} 


.footer-logo img{
    width: 25vw;
    height: 13vw;
}